backtrader==1.9.76.123
cufflinks
fbprophet
finviz==1.4.3
finvizfinance==0.11.1
ipython==7.31.1
matplotlib==3.5.1
mplfinance==0.12.8b6
numpy==1.21.1
pandas
pandas_datareader==0.10.0
pickle5==0.0.12
Pillow==9.0.0
plotly==5.5.0
pyfolio==0.9.2
pyforest==1.1.0
pystan
pytrends==4.7.3
requests==2.27.1
requests_html==0.10.0
scikit_learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
statsmodels==0.13.1
streamlit==1.5.0
tabulate==0.8.9
tensorflow==2.7.0
termcolor==1.1.0
tscv==0.1.2
xgboost==1.5.2
yahoo_fin==0.8.9.1
yahooquery==2.2.15
yfinance==0.1.70
